.card {
  background-color: rgb(182, 182, 130);
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.black-card {
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.5);
  color: white;
}
